<%- include ('./layouts/header') %>
<body>

    <% if (articles.length > 0) { %>
        <ul>
            <% articles.map( user => { %>
                <li></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Aucun article</p>
    <% } %>

    <form action="/" method="post">
        <input type="text" placeholder = "Titre" name="title" >
        <input type="text" placeholder = "Description" name="description" ">
        <select id="Users">
            <option value="">--Please choose an option--</option>
           
                <option value=""></option> 

        </select>
        <input type="submit" value="Submit">
    </form>
</body>

<%- include ('./layouts/footer') %>