<%- include ('./layouts/header') %>
<body>
    <h1>Hello World</h1>
    <p>Hello, <%= user.firstName  %> <%= user.lastName %></p>
</body>
<%- include ('./layouts/footer') %>

<!--
    TODO : 
    - 2 vues
    - 1 vue qui affiche bonjour + nom du user
    - 1 vue qui affiche une liste de users (nom, prenom, age) + une condition pour vérifier si il y a des users. sinon pas on affiche "aucun utilisateur"
-->