<%- include ('./layouts/header') %>
<body>
    <form action="/user" method="post">
        <input type="text" name="firstname" id="firstname">
        <input type="text" name="lastname" id="lastname">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
<%- include ('./layouts/footer') %>